@font-face {
    font-family: font1; 
    src: url(hwzs.TTF); 
}

.board
{
    padding:10px;
    height:410px;
    width:410px;
    background-color:blanchedalmond;
    float:left;
    position:relative;
    z-index:0;
}

.container{
    max-width: 750px;
    /* 750 */
}

.control1
{
    margin-left: 10px;
    padding:10px;
    height:125px;
    width:300px;
    background-color:wheat;
    float:left;
    z-index:0;
}

.control2
{
    margin-left: 10px;
    padding:10px;
    height:105px;
    width:300px;
    background-color:powderblue;
    float:left;
    z-index:0;
}

.info
{
    margin-left: 10px;
    padding:12px;
    height:180px;
    width:300px;
    background-color:khaki;
    float:left;
    z-index:0;
    font-size: 17px;
    font-family: font1;
}

.tree
{
    height:410px;
    width:410px;
    float:left;
    z-index:999;
}

.intro
{
    float:left;
    background-color:rgb(242, 242, 242);
    height:105px;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 410px;
    margin-bottom: 15px;
    text-align: center;
}
.type
{
    position:relative;
    margin-left: 10px;
    padding:10px;
    height:105px;
    width:300px;
    line-height: 40px;
    background-color:lightpink;
    margin-bottom: 15px;
    margin-top: 30px;
    float:left;
    z-index:0;
}